Body {
    background-image: url(resources/pic8.jpg);
    color: white;
    position: block;
    margin: 0px;
    text-align: center;
    font-weight:400px;
    background-size: 100%;
    font-family: 'Brygada', sans-serif;
    line-height: 21px;
    letter-spacing: 1.8px;
    text-shadow: 2px 2px 1px rgb(29, 83, 35);
    
}

.butt {
    border-radius: 10px 5px;
    box-shadow: 0px 5px;
    position: relative;
    width: 65px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    bottom: -10px;
    font-family: 'Brygada', 'san-serif';
    text-align: center;

    
}
.butt:hover {
    background-color: #DBE9FA;
    border-radius: 10px 5px;
}
.butt:active {
    border-radius: 10px 5px;
    box-shadow: 0px 5px #333333;
    transform: translateY(4px);
    background-color: #CC7A8B;
    font-weight: bold;
}

header {
    font-size: 35px;
    position: relative;
    top: 10px;
    padding: 10px;
}

ul {
    list-style: none;
    font-size: 30px;
    opacity: 2;
    position: relative;
    top:20px;
    
}